@import "tailwindcss";

:root {
  --background-1: var(--color-neutral-200);
  --background-2: var(--color-neutral-50);
  --background-3: var(--color-neutral-300);
  --foreground-1: var(--color-gray-950);
  --foreground-2: var(--color-gray-800);
  --foreground-3: var(--color-gray-600);
  --foreground-contrast: var(--color-zinc-100);
  --divider: var(--color-gray-300);
  --alert: var(--color-red-800);
  --warning: var(--color-yellow-600);
  --accent-1: var(--color-blue-600);
  --accent-2: var(--color-blue-700);
  --accent-3: var(--color-blue-800);
}

.dark {
  --background-1: var(--color-gray-900);
  --background-2: var(--color-gray-950);
  --background-3: var(--color-neutral-950);
  --foreground-1: var(--color-neutral-50);
  --foreground-2: var(--color-neutral-100);
  --foreground-3: var(--color-neutral-300);
  --foreground-contrast: var(--color-white);
  --divider: var(--color-neutral-800);
  --alert: var(--color-red-300);
  --warning: var(--color-yellow-300);
  --accent-1: var(--color-blue-700);
  --accent-2: var(--color-blue-800);
  --accent-3: var(--color-blue-900);
}

@theme inline {
  --color-background: var(--background-2);
  --color-background-lt: var(--background-1);
  --color-background-dk: var(--background-3);
  --color-text: var(--foreground-2);
  --color-text-lt: var(--foreground-1);
  --color-text-dk: var(--foreground-3);
  --color-text-contrast: var(--foreground-contrast);
  --color-accent: var(--accent-2);
  --color-accent-lt: var(--accent-1);
  --color-accent-dk: var(--accent-3);

  --color-alert: var(--alert);
  --color-warning: var(--warning);
  --color-border-divider: var(--divider);
  --color-divider: var(--divider);
}

body {
  @apply bg-background;
  @apply text-text;
  font-family: Work, sans-serif;
}

main {
  @apply relative flex flex-col;
  @apply w-full;
}

h1, h2{
  @apply text-2xl text-text font-bold;  
}

h1, h2, p {
  @apply sm:w-lg w-full;
}

h1 {
  @apply text-2xl py-6;
}

h2 {
  @apply text-xl py-3;
}

p {
  @apply text-base/8 text-text-lt;
}

.dark img{
  @apply dark:invert;
}

form {
  @apply flex flex-col items-stretch;
  @apply w-full sm:max-w-lg my-4 sm:my-0;
}

form label {
  @apply text-sm sm:text-text-dk;
  @apply p-0 px-1 mx-1 my-0 sm:mx-2 sm:mt-2;
}

input[type="submit"], input[type="button"] {
  @apply py-2 px-6 bg-accent text-text-contrast font-bold;
}

input[type="submit"], input[type="button"], button {
  @apply cursor-pointer;
}

input[type="text"], input[type="email"], textarea, select {
  @apply text-base/6 outline-none resize-none;
  @apply py-1 px-2 mx-0;
  @apply sm:mx-2;

  @apply border-t-1 border-b-1 border-t-divider border-b-divider;
  @apply mb-4;

  @apply sm:border-1 sm:rounded-sm sm:border-divider;
  @apply sm:mb-0;
}

input[type="checkbox"] {
  @apply w-4 h-4 accent-accent-lt;
}

#content {
  @apply max-w-screen overflow-x-hidden;
}

#toolbar button {
  @apply flex flex-row items-center gap-4;
  @apply bg-accent hover:bg-accent-lt px-4 ml-2;
  @apply text-text-contrast cursor-pointer;
}
