@import "tailwindcss";

:root {
  --background-color: var(--color-gray-100);
  --menu-color: var(--color-neutral-200);
  --text-color: var(--color-gray-950);
  --subtext-color: var(--color-gray-500);
  --accent-color: var(--color-blue-800);
  --control-background-color: var(--accent-color);
  --control-foreground-color: var(--color-gray-100);
  --selected-background-color: var(--color-blue-800);
  --selected-foreground-color: var(--color-neutral-100);
  --highlighted-background-color: var(--color-neutral-300);
  --highlighted-foreground-color: var(--color-blue-950);
  --border-color: var(--color-gray-300);
  --error-foreground-color: var(--color-red-500);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--color-neutral-800);
    --menu-color: var(--color-neutral-900);
    --text-color: var(--color-gray-100);
    --subtext-color: var(--color-gray-500);
    --accent-color: var(--color-yellow-500);
    --control-background-color: var(--color-yellow-500);
    --control-foreground-color: var(--color-neutral-950);
    --selected-background-color: var(--color-yellow-500);
    --selected-foreground-color: var(--color-neutral-900);
    --highlighted-background-color: var(--color-neutral-900);
    --highlighted-foreground-color: var(--color-yellow-500);
    --border-color: var(--color-stone-800);
    --error-foreground-color: var(--color-red-500);
  }
}

@theme inline {
  --color-background: var(--background-color);
  --color-menu: var(--menu-color);
  --color-text: var(--text-color);
  --color-subtext: var(--subtext-color);
  --color-accent: var(--accent-color);
  --color-control-background: var(--control-background-color);
  --color-control-foreground: var(--control-foreground-color);
  --color-selected-background: var(--selected-background-color);
  --color-selected-foreground: var(--selected-foreground-color);
  --color-highlighted-background: var(--highlighted-background-color);
  --color-highlighted-foreground: var(--highlighted-foreground-color);
  --color-border: var(--border-color);
  --color-error: var(--error-foreground-color);
}

a, button {
  @apply cursor-pointer;
}

input {
  @apply accent-accent;
}

input[type="submit"], input[type="button"], button {
  @apply cursor-pointer;
}

input[type="text"], input[type="email"], textarea, select {

}

input[type="checkbox"] {
  @apply w-4 h-4;
}

@supports (-webkit-overflow-scrolling: touch) {
  #note-markdown {
    @apply pb-25;
  }
}